.team-logo {
  width: 35px;
  margin-right: 0.5em;
}

.fixture-container {
  margin-top: 4em;
}

.fixture-header {
  border: solid purple 5px;
  border-radius: 0.7em;
  padding: 2em;
}

.fixture-row {
  border: solid rgba(212, 212, 212, 0.5) 1px; 
  border-radius: 0.7em;
  padding: 1em;
}

.kickoff {
  border-left: solid lightgrey 2px;
  justify-content: center;
}