.my-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 150px;

  @media screen and (min-width: 992px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 150px;
  }

}

.players {
  margin: 50px;
  margin-top: 50px;
  min-width: 700px;
  max-width: 800px;

  @media screen and (min-width: 992px) {
    margin-left: 100px;
  }

  h2 {
    margin: 50px 0;
  }

  p {
    font-size: 0.85em;
    font-weight: 500;
  }
}

.team-details {
  margin-bottom: 25px;
  padding: 0;
  
  @media screen and (min-width: 992px) {
    margin-bottom: 200px;
  }

  .team-name {
    margin: 25px;
  }
}

.teams.container-fluid {
  background-position: center;
  background-size: 120%;
  background-repeat: no-repeat;
  margin: 0;
}

.col-md-3,
.col-md-12,
.col-md-6 {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 50px;
}

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  .player-jersey {
    img {
      width: 90%;
      height: 90px;
    }
  }

  .player-name {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 75%;
    line-height: 1.5;
    display: flex;
    padding: 5.2px 41.405px 5.2px 41.595px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background-color: #37003C;
    color: white;
    margin: 0;
    padding: 5px 10px;
  }

  .player-position {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    padding: 2px 38.83px 2px 38.32px;
    justify-content: center;
    align-items: flex-start;
    gap: 7.85px;
    align-self: stretch;
    background-color: rgba($color: #E9F9F1, $alpha: 0.3);
  }
}