nav {
  @include flex-between(row);
  padding: 2em;
}

a.nav-link {
  padding: 0;
}

.navbar.navbar.navbar-expand.navbar-light.bg-primary {
  .logo {
    display: flex;
    margin-right: auto;
    img{
      margin: 10px 0;
      width: 250px;
    }
  }
  padding: 0 50px;
  width: 100%;
  flex-direction: column;

  // background image of navbar
  background-image: url(../assets/images/Nav.png);
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  .container-fluid {
    margin-top: auto;

    .me-auto.navbar-nav,
    .justify-content-end.navbar-nav {

      .nav-link {
        padding: 0;
        margin-right: 10px;
        .btn.btn-primary {
          margin: 0;
        }
      }
    }
  }
}



.me-auto {
  margin-top: auto;
}

.team-links {
  color: rgb(167, 165, 165);
  display: flex;
  height: 50px;
  width: 100vw;
  margin-top: 10px;
  justify-content: center;
  font-weight: bold;

  img {
    width: 40px;
    height: 40px;


  }

  img:hover {
    transform: scale(1.4);
  }
}

.navbar-expand .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100vw;
}