nav {
  @include flex-between(row);
  padding: 2em;
}

.navbar {
  
  
  flex-direction: column;
  width: 100%;
  
  height: 150px;
  background: linear-gradient(90deg, #02ffff 0%, #2318be 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.team-links{
  display: flex;
  height: 50px;
  width: 100vw;
  margin-top: 10px;
  justify-content: center;
  font-weight: bold;
  img{
  width: 40px;
  height: 40px;
  
  
}
img:hover{
  transform: scale(1.4);
}
}
.navbar-expand .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100vw;
}