nav {
  @include flex-between(row);
  padding: 2em;
}

.navbar {
  
  
  flex-direction: column;
  width: 100%;
  flex-direction: column;
  align-self: flex-end;
  img{
    height: 50px;
    width: 40px;
  }
  height: 150px;
  background-image: url(../assets/images/nav.png);
  background-size: contain;
  background-position: center;
  background-size: cover;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}


.me-auto {
  margin-top: auto; 
}